@model IEnumerable<Agent_management_MVC_frontend.ViewModels.MissionManagement>

@{
    ViewData["Title"] = "GetProposalMissions";
}

<h1>GetProposalMissions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AgentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TargetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TargetDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EliminationTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AgentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EliminationTime)
            </td>
            <td>
                    @Html.ActionLink("Commit", "Commit", new { item.MissionId }) |
                    @Html.ActionLink("Details", "Details", new { item.MissionId }) |
            </td>
        </tr>
}
    </tbody>
</table>
